<h1>Cine Lister</h1>

<h2>Lists</h2>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<div>
  <%= link_to "Make a New List", new_list_path %>
</div>

<h2>Bookmarks</h2>
<div>
  <% @bookmarks.each do |bookmark| %>
    <div><%= link_to "Make a new bookmark", new_list_bookmark_path(bookmark.list, bookmark) %></div>
  <% end %>
</div>
